body {
	background-color:#ddd;
	color:#222;
	font-family:helvetica;
	font-size:14px;
	margin:0;
	padding:0;
	}
#kopfbereich h1 
{
	background-color:#fcc97d;
	border-bottom:1px solid #666;
	color:#222;
	font-family:helvetica;
	display: block;
	font-size:20px;
	font-weight:bold;
	padding:10px 0;
	text-align:center;
	text-decoration:none;
	text-shadow:0px 1px 0px #fff;	
	
}
#kopfbereich h2, p
{
	margin-left:12px;
	margin-right:10px;
}	