body {
	background-color:#ddd;
	color:#222;
	font-family:helvetica;
	font-size:14px;
	margin:0;
	padding:0;
	}
div#kopfbereich h1 
{
	background-color:#98a8bf;
	border-bottom:1px solid #666;
	color:#FFF;
	font-family:helvetica;
	display: block;
	font-size:20px;
	font-weight:bold;
	padding:10px 0;
	text-align:center;
	text-decoration:none;
	text-shadow:0px -1px 0px #222;	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b2bcc8), to(#76859a));
}
div#kopfbereich h2, p
{
	margin-left:12px;
	margin-right:10px;
}
div#navigation ul
{
	list-style:none;
	margin:10px;
	padding:0;	
}
div#navigation li
{
	border: 1px solid #aaa;
	padding:12px 10px;
}

div#navigation ul, li, a
{
	background-color:#fff;
	color:#222;
	display: block;
	font-size:17px;
	font-weight:bold;
	margin-bottom:-1px;
	text-decoration:none;	
}
div#navigation ul, li:first-child, a
{
	-webkit-border-top-right-radius:10px;
	-webkit-border-top-left-radius:10px;
}

div#navigation ul, li:last-child, a
{
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
}
div#inhalt
{
	margin-left:12px;
	margin-right:10px;
}
div#inhalt img
{
	border: 1px solid #222;
	-webkit-border-radius:5px;
}

div#kontakt
{
	background-color:#98a8bf;
	border-top: 1px solid #666;
	color:#222;
	display: block;
	font-size:10px;
	font-weight:bold;
	padding: 5px 0;
	text-align:center;
	text-decoration:center;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b2bcc8), to(#76859a));	
}
